data/*
tensorboard_log/*
train/wandb/*
train/None/*
# pycache crap
components/__pycache__/*
train/dataset/__pycache__/*
train/loss/__pycache__/*
train/network/autoencoder/__pycache__/*
train/optimizer/__pycache__/*
train/trainer/__pycache__/*
train/trainer/PinkModule/__pycache__/*
train/guitarset
train/soloviolin
